@{
    ViewData["Title"] = "Courses for you";
}

<h2>Welcome to Courses for You!</h2>

<p>Welcome to our website for courses! Here you can find a plethora of online courses you can choose from, as well as some e-books that will help you throughout your learning courses. </p>
<p> Thank you for choosing us! :)</p>