@{
    ViewData["Title"] = "Welcome to Courses for you!";
}

<h2>Welcome to Courses for you!</h2>
<p>
    Here you can find the perfect course to help you achieve the career you want. Here are some of your options:
</p>
<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>Cooking</li>
        <li>Business</li>
        <li>IT</li>
    }
</ul>